.wrapper {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 12px;
  padding: 12px;
}
.container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
}

.selected {
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 800px;
}
.today {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 800px;
  background-color: rgb(215, 215, 215);
}
